extends layout

block content
  h1= title
  br
  p Welcome to the API endpoint to be used to image recognition. This is deployed on AWS on a public ec2 instance. Please note that you will not be able to access the API all the time since Mohaimen is broke AF and he doesn't want to owe a billion $$$$ to AWS.
  br
  p I will be posting a list of all the API calls soon !!
  br
  p If you want to run this locally then please clone the repository from
  li https://github.com/mohaimenhasan/FruitAppDetector


